トップページ
= link_to "一般用サインイン", new_user_session_path
= link_to "企業用サインイン", new_business_user_session_path
= link_to "一般用サインアウト", destroy_user_session_path, method: :delete
= link_to "企業用サインアウト", destroy_user_session_path, method: :delete
%br
- if user_signed_in?
  %h2 一般ユーザーはサインインしています！
- else
  %h3 一般ユーザーはサインインしていません。
- if business_user_signed_in?
  %h2 企業ユーザーはサインインしています！
- else
  %h3 企業ユーザーはサインインしていません。