.ideas {
  &__title {
    font-size: 40px;
    font-weight: bold;
  }
  &__content {
    border: 1px solid #B4C4D9;
    max-width: 400px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    &__body {
      display: flex;
    }
  }
}