.header
  .header__title
    = link_to root_path, class: "header__title" do
      Come_true
      = fa_icon "child"
  .header__make
    = link_to new_idea_path, class: "reset__a" do
      作成する
  .header__mypage
    マイページ
  .header__signout
    = link_to destroy_user_session_path, class: "reset__a" do
      サインアウト